<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Mail</title>
<style>
    span{
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
</head>
<body>
<div>
    
    <h5 style="font-size:15px;">This Email is in regard to the forgot password request you have made recently.Enter the OTP Provided</h5>
    <span style="color:rgb(17, 17, 45);">Enter your one time password to reset the password && Password will expire in 30 seconds</span>
   <span> Your one time password is <b>{{password}}</b></span>
</div>
</body>
</html>


